rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regras para a coleção de produtos
    match /produtos/{produtoId} {
      
      // Qualquer visitante do site pode ler os produtos (vitrine pública)
      allow read: if true;
      
      // Apenas VOCÊ e ELA podem criar, editar ou excluir produtos no servidor
      allow write: if request.auth != null && 
                   (request.auth.token.email == "jddaqq@gmail.com" || 
                    request.auth.token.email == "Nandasantosgom@gmail.com" ||
                    request.auth.token.email == "nandasantosgom@gmail.com" );
    }
  }
}
